<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Jogadores</title>
</head>
<body>
    <h1>Lista de Jogadores</h1>

    <table id='tabelaJogador' border=1>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <for|jogador| of=data.jogadores>               
                <tr id="jogador_${jogador.id}"  key=jogador.id>
                    <td>${jogador.nome}</td>
                    <td>${jogador.email}</td>
                    <td><a href='/jogadores/form/${jogador.id}'>Editar</a></td>
                    <td><a href="#" data-ref='${jogador.id}' data-type='remocao'>Excluir</a></td>
                </tr>
            </for>
        </tbody>
    </table>

    <script src='/estatico/js/remove-jogador.js'></script>
</body>
</html>